<div ng-conroller="homesController">
	

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt" style = "color:#270052;font-family: 'Bilbo', cursive; ">Hi! I'm <strong style = "color:#270052">Amrita</strong>.<br/></h2>
								<p style = "color:#270052"> I’m a full stack developer with a passion to create technology that improves our overall well-being.<br/></p>
							</header>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>Check out some of my projects!</p>

							<div class="row">
								<div class="4u 12u$(mobile)">
									<article class="item">
										<a href="/#/hungrybelly" class="image fit"><img src="static/hungrybelly.png" alt="" /></a>
										<header>
											<h3>Hungry Belly</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="static/rsvp_plugin.png" alt="" /></a>
										<header>
											<h3>Reservation Plugin</h3>
										</header>
									</article>
								</div>
								<div class="4u 12u$(mobile)">
									<article class="item">
										<a href="#" class="image fit"><img src="static/happen_index.png" alt="" /></a>
										<header>
											<h3>Bucket List</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="static/happen_index.png" alt="" /></a>
										<header>
											<h3>Coding Nom Nom</h3>
										</header>
									</article>
								</div>
								<div class="4u$ 12u$(mobile)">
									<article class="item">
										<a href="#" class="image fit"><img src="static/happen_index.png" alt="" /></a>
										<header>
											<h3>Pair Coder</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="static/happen_index.png" alt="" /></a>
										<header>
											<h3>Check It</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="static/yosemite.jpg" alt="" /></a>

							<p>Hi there!! My name is Amrita (um-ree-ta). I’m a full stack developer with a passion to create technology that improves our overall well-being.  I recently graduated an immersive web development program, Coding Dojo, located in the heart of Silicon Valley, where I mastered three full stacks: Python, Ruby on Rails, and MEAN. Throughout the program, I created a handful of web applications as part of a team as well as on my own. I am eager to  find a role where I can thrive in a fast paced environment with fellow coders who love what they do.</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Let’s chat about coding, travel, employment <i class="fa fa-smile-o" aria-hidden="true"></i>, or whatever you please!</p>

							<p>Email: amritakc@gmail.com</p>

						</div>
					</section>

			</div>




	</div>
